<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Mental Health Literacy Hub</title>
    <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/globals.css}">
    <link rel="stylesheet" th:href="@{/css/professional/professional_styles.css}">
    <link rel="stylesheet" th:href="@{/css/admin/admin_view_professional_requests.css}">
    <link rel="stylesheet" th:href="@{/css/student/student_nav.css}">

</head>

<body>
    <div class="sidebar">
        <div th:replace="fragments/Admin-navbar :: navbar(activeTab='professionalRequests')"></div>
    </div>
    
    <main>
        <div class="page-header">
            <div>
                <h1 class="page-title">Professional Request</h1>
                <p class="page-subtitle">Manage the user information that is requesting to be a professional</p>
            </div>
        </div>

        <div class="resource-container">

            <div th:if="${requests == null or requests.empty}" class="empty-state">
                <i class="fas fa-folder-open empty-icon"></i>
                <h3>No Resluts found</h3>
                <p>No User has requested for being a professional.</p>
            </div>

            <div th:each="request : ${requests}" class="resource-item">
    
                <div class="resource-info">

                    <div class="resource-icon-box icon-user">
                        <i class="fas fa-user-tie"></i>
                    </div>
                
                    <div class="resource-details">
                        <div class="resource-title" th:text="${request.user.name}">User Name</div>

                        <div class="resource-meta">
                            <span class="category-badge" th:text="${request.user.email}">email@example.com</span>
                            <span>•</span>
                            <span th:text="${request.status}"
                                  th:classappend="${request.status == 'approved' ? 'approved-badge' : (request.status == 'pending' ? 'pending-badge' : 'rejected-badge')}">
                            </span>
                        </div>
                    </div>

                </div>
                <div class="action-buttons">
                    <a th:href="@{/admin/manage-request(requestID=${request.requestID}, userID=${request.user.userID})}" 
                       class="btn btn-view">
                        <i class="fas fa-eye"></i> View
                    </a>
                </div>
            </div>

        </div>
    </main>
</body>
</html>